.captcha-box{
    width: 50%;
    height: 4rem;
    border: 1px solid black;
    display: flex;
}
.captcha-text{
    width: 80%;
    font-size: 2rem;
    padding: 1rem;
}

.captcha-reload-icon{
    width: 20%;
}

.captcha-reload-icon img{
    width: 100%;
    height: 100%;
}