* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
.strip-1 {
  width: 100%;
  height: 2.5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
.strip-1 p {
  color: aliceblue;
}
.strip-2 {
  width: 100%;
  height: 3rem;
  /* background-color: yellow; */
  display: flex;
}
.strip-2_logo {
  width: 22%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.strip-2_logo img {
  width: 60%;
  height: 100%;
}
.strip-2_search {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 35rem;
}
.strip-2_search > div {
  width: 30%;
  height: 70%;
  background-color: #f6f6f6;
  display: flex;
  border-radius: 3rem;
}
.strip-2_search > div input {
  width: 80%;
  height: 100%;
  background-color: inherit;
  outline: 0;
  border: 0;
  padding: 10px;
  border-radius: inherit;
}
.strip-2_search > div img {
  width: 20%;
  height: 100%;
}
.strip-2_icon {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}
.strip-2_icon img {
  width: 20%;
  height: 60%;
}
.strip-3 {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
}
nav {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.latest-products {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.latest-products-item {
  width: 70%;
  height: auto;
}
.latest-products-title {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}
.latest-products-cards {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.latest-products-cards .card {
  width: 23%;
  height: 22rem;
  text-align: center;
}
.latest-products-cards .card img {
  width: 100%;
  height: 80%;
}

.latest-products-cards .card p {
  color: #222222;
}
.latest-products-cards .card p:nth-of-type(2) {
  color: red;
}
.intro-dec {
  width: 50%;
  height: 100%;
}
.intro-dec h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

.intro-img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}
.intro-img img {
  width: 50%;
  height: 80%;
}
/*sign up form*/

.wrapper {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
.wrapper-content {
  width: 400px;
  height: 30rem;
  background-color: #fff;
  margin: 10rem auto;
  position: relative;
}
.wrapper-content form {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.wrapper-content form input {
  width: 100%;
  height: 9%;
  margin: 1.5rem 0;
  padding: 5px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid green;
}
.wrapper-content form input::placeholder {
  color: #bbb;
}
.wrapper-content form input[type="submit"] {
  background-color: green;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.close-wrapper {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

input+p{
  display: none;
}
.success{
  border: 1px solid green;
}
.failure{
  border: 1px solid red;
}
.failure+p{
  display: block;
  color: red;
}